<!-- filepath: p:\DevEnv\OffensiveGUI\templates\base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}OffensiveGUI{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" crossorigin="anonymous" spellcheck="false">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" spellcheck="false">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    </head>

    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg text-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" height="130px" left="0" top="0">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Information</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" spellcheck="false">
                                <li><a class="dropdown-item" href="{{ url_for('nmap_scan_route') }}" spellcheck="false">Nmap Web</a></li>
                                <li><a class="dropdown-item" href="#">Help</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Main Layout -->
        <div class="container-fluid bg-light" style="height: 100%">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-3 col-lg-2 d-none d-md-block bg-dark sidebar text-white" style="height: 100vh; width: 240px;">
                    <div class="position-sticky">
                        <h4 class="text-center mt-3">Navigation</h4>
                        <hr class="bg-dark">
                    </div>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white active" aria-current="page">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                Targets
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                Listener Section
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Main Content Area -->
                <div class="col-md-9" style="margin-left: 240px; padding: 20px;">
                    {% block content %}
                    <!-- Content will be injected here from child templates -->
                    {% endblock %}
                    {% block content2 %}
                    <!-- Content will be injected here from child templates -->
                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="text-center mt-4 bg-dark text-white py-3 fixed-bottom" style="width: 100%; bottom: 0;">
            <div class="container-fluid">
                <p>OffensiveGUI is a project by Jens Becker.</p> <!-- spellcheck:ignore Jens -->
                <p>For more information, visit our <a href="#">GitHub</a>.</p>
                <p>&copy; 2025 OffensiveGUI. All rights reserved by Jens Becker.</p> <!-- spellcheck:ignore Jens -->
            </div>
        </footer>

        {% block scripts %}
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- jQuery (optional) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/2z4x4g5e5f5e5f5e5f5e5f5e5f5e5f5e5f5e" crossorigin="anonymous"></script>
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        {% endblock %}
    </body>
</html>
<!-- filepath: p:\DevEnv\OffensiveGUI\templates\base.html -->
<!-- filepath: p:\DevEnv\OffensiveGUI\templates\index.html -->